<!DOCTYPE html>
<html>

<head>
    <title>Produtos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Lista de Produtos</h1>
    <p>Me da nota maxima krai!</p>
    <ul>
        <% for (const iterator of productList) { %>
        <form class="buyProd" id="<%= iterator.name %>" method="post" action="/checkout">
            <li>  <button type="submit" value="Submit"><%= iterator.name %></button> | Value R$: <%= iterator.preco %>
                <ul>
                    <input hidden class="input" id="preco" name="preco"  value="<%= iterator.preco %>" />
                    <input hidden class="input" id="name" name="name" value="<%= iterator.name %>" />
                    <input hidden class="input" id="identificador" name="identificador"value="<%= iterator.identificador %>" />
                </ul>
            </li>
        </form>
        <% } %>
    </ul>
</body>
<script>

</script>

</html>